/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/


/* анимации меню*/

.theme-menu__button{
  transition: opacity calc(var(--base-time, 1s) * 0.5s) ease-in-out,
              scale calc(var(--base-time, 1s) * 0.5s) ease-in-out;
}

.theme-menu__button:disabled {
  transition: opacity calc(var(--base-time, 1s) * 0.3s);
}

.theme-menu__button:disabled {
  transition: opacity calc(var(--base-time, 1s) * 0.3s);
}

.theme-menu__button:disabled::before {
  transition: opacity calc(var(--base-time, 1s) * 0.3s) ease-out, rotate calc(var(--base-time, 1s) * 0.3s) linear; /*добавил анимацию вращения при переключении, легко убрать*/
  animation: x-transition calc(var(--base-time, 1) * 0.5s) infinite ease-in-out;
  animation-direction: alternate;
}

@keyframes x-transition {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(4px);
  }
}

.theme-menu__button::after {
  transition: opacity calc(var(--base-time, 1s) * 0.5s) ease-in-out,
              scale calc(var(--base-time, 1s) * 0.5s) ease-in-out;
}

.theme-menu__button:hover:not(:disabled) {
  transition: opacity calc(var(--base-time, 1s) * 0.3s) ease-in-out;
}

.theme-menu__button:focus {
  transition: opacity calc(var(--base-time, 1s) * 0.3s) ease-in-out;
}

.theme-menu__button:focus::after {
  transition: opacity calc(var(--base-time, 1s) * 0.5s) ease-in-out,
              scale calc(var(--base-time, 1s) * 0.5s) ease-in-out;
}

@supports selector(:focus-visible) {
  .theme-menu__button:focus-visible {
    transition: opacity calc(var(--base-time, 1s) * 0.3s) ease-in-out;
  }

  .theme-menu__button:focus-visible::after {
    transition: opacity calc(var(--base-time, 1s) * 0.5s) ease-in-out,
                scale calc(var(--base-time, 1s) * 0.5s) ease-in-out;
  }
}

/* анимации карточек*/


/*анимация к исходному*/
.is-liked .heart-body,
.is-liked .heart-core {
  transition-property: opacity, fill;
}

.is-liked .heart-contour {
  transition-property: fill;
}

.card__icon-button :not(.is-liked) .heart-core,
.card__icon-button :not(.is-liked) .heart-body {
  transition-duration: calc(var(--base-time, 1) * 0.3s), calc(var(--base-time, 1) * 0.3s);
  transition-timing-function: linear, linear;
}

.card__icon-button :not(.is-liked) .heart-core {
  transition-delay: calc(var(--base-time, 1) * 0.03s), calc(var(--base-time, 1) * 0.03s);
}

.card__icon-button :not(.is-liked) .heart-body{
  transition-delay: 0s, 0s;
}

.card__icon-button :not(.is-liked) .heart-contour {
  transition-duration: calc(var(--base-time, 1) * 0.1s);
  transition-delay: 0s;
  transition-timing-function: linear;
}

.card__icon-button {
  transition: border-color calc(var(--base-time, 1s) * 0.3s) ease;
}

/*анимация ховера, клика и фокуса*/
.card__icon-button:hover .heart-core {
  transition-duration: calc(var(--base-time, 1) * 0.3s);
  transition-delay: 0s;
}

.card__icon-button:hover .heart-body {
  transition-duration: calc(var(--base-time, 1) * 0.3s), 0s;
  transition-delay: calc(var(--base-time, 1) * 0.05s), 0s;
  transition-timing-function: ease, ease;
}

.card__icon-button:active .heart-core {
  transition-duration: calc(var(--base-time, 1) * 0.3s), calc(var(--base-time, 1) * 0.3s);
  transition-delay: 0s, 0s;
  transition-timing-function: ease, ease;
}

.card__icon-button:active .heart-body {
  transition-duration: calc(var(--base-time, 1) * 0.3s), calc(var(--base-time, 1) * 0.3s);
  transition-delay: calc(var(--base-time, 1) * 0.05s), calc(var(--base-time, 1) * 0.05s);
}

.card__icon-button:focus {
  transition: border-color calc(var(--base-time, 1s) * 0.3s) ease;
}

@supports selector(:focus-visible) {
  .card__icon-button:focus-visible {
    transition: border-color calc(var(--base-time, 1s) * 0.3s) ease;
  }
}

/* анимации лайка по нажатию*/

:not(.card__icon-button:hover) .is-liked .heart-core { /*кадр 1: 0s -- 0.3s*/
  transition-duration: calc(var(--base-time, 1) * 0.3s), 0s;
  transition-delay: 0s, 0s;
  transition-timing-function: ease, ease;
}

:not(.card__icon-button:hover) .is-liked .heart-body { /*кадр 2: 0.05s -- 0.35s*/
  transition-duration: calc(var(--base-time, 1) * 0.3s), 0s;
  transition-delay: calc(var(--base-time, 1) * 0.05s), 0s;
  transition-timing-function: ease, ease;
}

.card__icon-button:hover .is-liked .heart-core { /*кадр 1: 0s -- 0.3s*/
  transition-duration: 0s, calc(var(--base-time, 1) * 0.3s);
  transition-delay: 0s, 0s;
  transition-timing-function: ease, ease;
}

.card__icon-button:hover .is-liked .heart-body { /*кадр 2: 0.05s -- 0.35s*/
  transition-duration: 0s, calc(var(--base-time, 1) * 0.3s);
  transition-delay: 0s, calc(var(--base-time, 1) * 0.05s);
  transition-timing-function: ease, ease;
}

.card__icon-button .like-icon.is-liked .heart-contour { /*кадр 3: 0s -- 0,1s*/
  transition-duration: calc(var(--base-time, 1) * 0.1s);
  transition-delay: 0s;
}

.card__icon-button .is-liked .heart-contour,
.card__icon-button .is-liked .heart-body,
.card__icon-button .is-liked .heart-core { /*кадр 4: 0.1s -- 0.4s*/
  animation: like-grow calc(var(--base-time, 1) * 0.3s / 2) 2 alternate calc(var(--base-time, 1) * 0.1s);
}

.card__icon-button .is-liked .heart-sparks { /*кадр 5: 0.2s -- 0.5s*/
  animation: like-sparks calc(var(--base-time, 1) * 0.3s / 2) 2 alternate calc(var(--base-time, 1) * 0.1s);
}

@keyframes like-grow {
  from {
    scale: 100%;
  }

  to {
    scale: 150%;
  }
}

@keyframes like-sparks {
  from {
    fill: var(--effect-color, #f00);
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.common-button:focus {
  transition-property: translate, box-shadow;
  transition-duration: calc(var(--base-time, 1s) * 0.3s), calc(var(--base-time, 1s) * 0.3s);
}

@supports selector(:focus-visible) {
  .common-button:focus-visible {
    transition-property: translate, box-shadow;
    transition-duration: calc(var(--base-time, 1s) * 0.3s), calc(var(--base-time, 1s) * 0.3s);
  }
}

.common-button::after {
  transition: scale calc(var(--base-time, 1) * 0.5s) ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  :root {
    --base-time: 0;
  }

}

