/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  /*min-inline-size: 320px;*/
  min-block-size: 100dvb;
  margin-inline: auto;
  color: var(--text-color, #000);
  background-color: var(--bg-color, #fff);
  background-image: var(
    --bg-image,
    linear-gradient(180deg, #e7e7e7 0%, #1a1a1a 100%)
  );
  background-size: cover;
  font-family: var(--main-font, Inter), serif;
  font-size: var(--text-font-size, 1.125rem);
  font-variation-settings: 'wght' var(--font-normal, 400);
  background-attachment: fixed;
}

.sized {
  inline-size: var(--page-size, max(375px, 50%));
  margin-inline: auto;
}

.no-selection,
.common-button {
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.header {
  padding-block-start: calc(114.3664px + 1.5023vi);
  padding-block-end: var(--common-gap, 25px);
  margin-block: var(--big-gap, 100px);
  border: var(--border-setup, solid);
  font-family: var(--accent-font, 'Press Start 2P'), monospace;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--bg-color, #fff);
}

.header__main-logo {
  display: block;
  text-decoration: none;
  font-style: normal;
  font-size: var(--main-title-font-size, calc(2.7104rem + 1.5023vi));
  font-weight: inherit;
}

.header__main-logo:focus {
  outline: none;
}

.header__main-logo:focus-visible {
  text-decoration: underline;
}

.header__title {
  display: block;
  padding-block-start: 20px;
  padding-block-end: calc(var(--common-gap, 25px));
  font-size: var(--secondary-title-font-size, calc(0.6769rem + 0.8451vi));
  font-weight: inherit;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  inline-size: fit-content;
  margin: auto;
  text-align: start;
  font-size: var(--accent-font-size, 0.875rem);
  line-height: normal;
}

.theme-menu__button {
  position: relative;
  inset-inline-start: 0.7em;
  inset-block-start: 0;
  font-size: inherit;
  background-color: transparent;
  border: none;
  font-family: inherit;
  text-transform: inherit;
  perspective: 100px;
  padding: 0;
  margin: 0;
  line-height: inherit;
  color: currentColor;
}

.theme-menu__button:disabled {
  pointer-events: none;
}

.theme-menu__button::before {
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: -1.5em;
  content: '▶';
}

.theme-menu__button::after {
  content: '';
  position: absolute;
  inset-inline-start: 0;
  inset-block-end: -1px;
  width: 100%;
  border-block-end: 2px solid var(--main-color, #000);
}

.theme-menu__button:focus {
  outline: none;
}

.content {
  display: flex;
  flex-direction: column;
  gap: calc(var(--medium-gap, 50px) - 1.2px);
}

.content__card {
  background-color: var(--bg-color, #fff);
  border: var(--border-setup, solid);
}

.content__card-title {
  font-size: inherit;
  font-weight: var(--font-bold, 700);
  padding: calc(var(--border-size, 2px) * 2.8) 10px;
  font-variation-settings: 'wght' var(--font-bold, 700);
}

.content__image-container {
  position: relative;
  border-block-end: var(--border-setup, solid);
  border-block-start: var(--border-setup, solid);
}

.content__watermark {
  position: absolute;
  inset-block-start: var(--common-gap, 25px);
  inset-inline-end: var(--common-gap, 25px);
  font-family: var(--accent-font, 'Press Start 2P'), monospace;
  font-size: var(--accent-font-size, 0.875rem);
  color: var(--watermark-color, #000);
  text-shadow: -1px 0 var(--watermark-accent, #fff),
    0 1px var(--watermark-color, #fff), 1px 0 var(--watermark-color, #fff),
    0 -1px var(--watermark-color, #fff);
  opacity: 0.5;
  mix-blend-mode: hard-light;
}

@supports ((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff)) {
  .content__watermark {
    -webkit-text-stroke: 1px var(--watermark-accent, #fff);
    text-stroke: 1px var(--watermark-accent, #fff);
    text-shadow: none;
  }
}

.content__image {
  display: block;
  inline-size: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: 96% center;
}

.content__image--calm {
  filter: brightness(50%);
}

.content__image--old-school {
  filter: sepia(1);
}

.content__image--colorful {
  filter: saturate(3);
}

.content__image--new-vision {
  filter: hue-rotate(180deg);
}

.content__image--negative {
  filter: invert(65%);
}

.content__image--depressed {
  filter: grayscale(0.9);
}

.content__image--drunk-vision {
  filter: blur(18px);
}

.content__image--crazy {
  filter: saturate(1.2) hue-rotate(50deg) contrast(5);
}

.content__card-text {
  margin: var(--common-gap, 25px);
}

.content__card-text:not(:last-of-type) {
  margin-block-end: calc(var(--common-gap, 25px) + 2px);
}

.content__buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  inline-size: fit-content;
  gap: calc(var(--common-gap, 25px) / 2 - 7px);
  margin-block: 0 var(--common-gap, 25px);
  margin-inline: auto var(--common-gap, 25px);
}

.card__icon-button {
  display: block;
  inline-size: 41px;
  block-size: 38px;
  padding: 0;
  background-color: transparent;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  color: currentColor;
}

.card__icon-button,
.common-button,
.theme-menu__button {
  cursor: pointer;
}

.like-icon {
  block-size: 100%;
  inline-size: 100%;
  color: currentColor;
}

.card__icon-button:focus {
  outline: none;
}

.common-button {
  position: relative;
  display: block;
  background-color: var(--bg-color, #fff);
  border: var(--border-setup, solid);
  font-family: var(--accent-font, 'Press Start 2P'), monospace;
  line-height: 90%;
  font-size: var(--accent-font-size, 0.875rem);
  will-change: translate, box-shadow;
  padding: 0;
  color: currentColor;
}

.common-button::after {
  content: '';
  display: block;
  position: absolute;
  inset: 0;
  background-color: var(--inverse-color, #fff);
  mix-blend-mode: difference;
}

.common-button:focus {
  outline: none;
}

.card__like-button {
  padding-inline: calc(var(--common-gap, 25px) * 0.92 - 2px);
  padding-block: calc(var(--common-gap, 25px) * 0.508 - 2px);
  min-inline-size: calc(6em + var(--common-gap, 25px) * 1.85);
}

.button__text {
  text-align: center;
}

.footer {
  padding-block-end: var(--big-gap, 100px);
  padding-block-start: var(--medium-gap, 50px);
  padding-inline: min(9%, 34px);
}

.footer__button {
  display: flex;
  padding-inline: calc(var(--common-gap, 25px) * 0.74);
  padding-block: calc(var(--common-gap, 25px) * 0.6);
  align-items: center;
  justify-content: center;
  gap: 8px;
  flex-wrap: wrap;
  margin-inline: auto;
  inline-size: fit-content;
  max-inline-size: 339px;
}

.footer__image {
  inline-size: clamp(1.5em, (376px - 100vi) * 10000, 2em); /*для совместимости*/
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: center;
}

@supports (inline-size: clamp(1.5em, (376px - 100svi) * 10000, 2em)) {
  .footer__image {
    inline-size: clamp(1.5em, (376px - 100svi) * 10000, 2em);
  }
}

dialog {
  grid-template-areas:
    'image title  '
    'button button';
  row-gap: calc(var(--common-gap, 25px) * 1.25);
  column-gap: calc(var(--common-gap, 25px) * 0.8);
  padding-block: calc(var(--common-gap, 25px) * 1.2);
  padding-inline: clamp(30px, 415px - 100%, 10.6%);
  border: var(--border-setup, 2px solid #000);
  background-color: inherit;
  max-inline-size: min(355px, calc(100svi - 34px));
  color: inherit;
  font-family: var(--accent-font, 'Press Start 2P');
  font-size: var(--accent-font-size, 0.875rem);
  line-height: 150%;
  align-items: center;
  text-transform: uppercase;
}

dialog[open] {
  display: grid;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog__title {
  grid-area: title;
  font-weight: 400;
  font-size: inherit;
}

.dialog__image {
  grid-area: image;
  inline-size: 39px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: center;
}

.dialog__button {
  grid-area: button;
  inline-size: 100%;
  min-block-size: 38px;
}
